################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PasswordChecker/PasswordChecker/.vs/PasswordChecker
/PasswordChecker/PasswordChecker/PasswordChecker/bin
/PasswordChecker/PasswordChecker/PasswordChecker/obj
/IO.Swagger/IO.Swagger/obj
/IO.Swagger/.vs/IO.Swagger/v16
/IO.Swagger/IO.Swagger/bin
