################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PasswordChecker/PasswordChecker/.vs/PasswordChecker
/PasswordChecker/PasswordChecker/PasswordChecker/bin
/PasswordChecker/PasswordChecker/PasswordChecker/obj
/IO.Swagger/IO.Swagger/obj
/IO.Swagger/.vs/IO.Swagger/v16
/IO.Swagger/IO.Swagger/bin
/PasswordCheckerClient/PasswordCheckerClient/obj
/PasswordCheckerClient/.vs/PasswordCheckerClient/v16
/IO.Swagger/.vs/IO.Swagger/DesignTimeBuild
/PasswordCheckerClient/PasswordCheckerClient/bin/Debug/netcoreapp3.1
/PasswordCheckerClient/.vs/PasswordCheckerClient/config
/PasswordCheckerClient/PasswordCheckerClient/bin/Release/netcoreapp3.1
/PasswordCheckerClient/.vs/PasswordCheckerClient/DesignTimeBuild/.dtbcache.v2
/PasswordChecker/PasswordChecker/PasswordChecker.Test/obj
/PasswordChecker/PasswordChecker/PasswordChecker.Test/bin/Debug/netcoreapp3.1
